html {
  font-family: arial, sans-serif;
  background: green;
  font-size: 1.5em;
  color: white;
}

#parent-div {
  max-width: 60em;
  max-height: 100em;
  border: 0.25em solid black;
  border-radius: 3em;
  margin: 5em;
  text-align: center;
  background: black;
}

.start {
  margin-left: 20em;
}

.play-button {
  display: block;
  margin-left: 38em;
}

h1,
h6,
p {
  color: white;
}

h1 {
  font-size: 2.5em;
}

.heading {
  text-align: center;
}

h6 {
  display: inline;
  font-size: 1em;
  margin: 5%;
}

p {
  font-size: 1.25em;
  padding-left: 4em;
  padding-right: 4em;
  line-height: : 1.5em;
}

button {
  font-size: 0.6em;
  background-color: white;
  margin: 1em;
  padding: 1.5em;
  border: 0.25em solid green;
  border-radius: 3em;
  font-weight: 800;
  transition: 1s;
}

button:hover {
  transition: 1s;
  background: green;
  color: white;
  border: 0.25em solid black;
  cursor: pointer;
}

.winLosePage {
  max-width: 60em;
  max-height: 60em;
  margin: 5em;
  padding-left: 10em;
  padding-right: 10em;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: cover;
}
